{% extends "layout.html" %}
{% block title %}
	Şifremi Unuttum!
{% endblock %}
{% block content %}
	<div class="row-fluid">
		<div class="well text-center">
			<h2>Şifrenizi mi unuttunuz?</h2>
			<p>Şifrenizi sıfırlamak için kayıtlı olduğunuz mail adresini giriniz.</p>
				<form action="" method="post">
				<div style="display:none">
					<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
				</div>
				{{ form.email.errors }}
					<label for="id_email">E-mail adresiniz:</label>
					<div class="input-append">
					{{ form.email }}
					<button type="submit" class="btn btn-danger">Şifemi Sıfırla</button>
					</div>
			</form>
		</div>
	</div>	

{% endblock %}