{% extends "layout.html" %}
{% block title %}
    Şifre Sıfırlamayı Doğrula
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="well">
            {% if validlink %}
            	<h2>Yeni Şifrenizi Belirleyin!</h2>
                <p>Lütfen yeni şifrenizi 2 kez giriniz.</p>
				<form action="" method="post">{% csrf_token %}
					{{ form.new_password1.errors }}
					<label>Yeni Şifreniz</label>
					{{ form.new_password1 }}
				
					{{ form.new_password2.errors }}
					<label>Şifreyi doğrula</label>
					{{ form.new_password2 }}
					<br>
					<button type="submit" class="btn btn-success">Şifremi Değiştir</button>
				</form>
            {% else %}
                <h2>Şifre doğrulama başarısız!</h2>
                <p>Şifre yenileme linki geçersiz. Lütfen tekrar deneyiniz.</p>
            {% endif %}
        </div>
    </div>
    
{% endblock %}