{% extends "layout.html" %}
{% block title %}
	Şartlarda anlaşabilirsek seve seve çalışırım hacı!
{% endblock %}
{% block content %}
<div class="row-fluid">
	<div class="well span6">
		<h2>Şirketler</h2>
		<ul>
		{% for company in companies %}
			<li><a href="/sirketler/{{company.companyslug}}">{{ company.companyname }}</a> <span class="sector">({{ company.sector }})</span></li>
		{% endfor %}
		</ul>
	</div>
	{% if user.is_authenticated %}
	<div class="well span6">
		<h2>Şirketler eksik kalmış hacı!</h2>
		<form method="post" action="">{% csrf_token %}
			{{ companyform.non_field_errors }}
			{% for formerror in formerrors %}
			{{ formerror }}
			{% endfor %}
			{{ message }}
			{% for sector in companyform %}
			<label>{{ sector.label }}</label>
			<div class="controls">
				{{ sector }}
			</div>
			{% endfor %}
			<div class="controls">
				<button type="submit" class="btn btn-success">Ekle!</button>
			</div>
		</form>
	</div>
	{% else %}
	<div class="well span6">
		<h2>Şirketler eksik kalmış hacı!</h2>
		<p>Sadece üyeler şirket ekleyebilir, üye olun veya giriş yapın!</p>
	</div>
	{% endif %}
</div>
{% endblock %}