{% extends "layout.html" %}
{% block title %}
	Şartlarda anlaşabilirsek seve seve çalışırım hacı!
{% endblock %}

{% block content %}
	<div class="row-fluid">
		<div class="well text-center {% if user.is_authenticated %}span12{% else %}span6{% endif %}">
			<blockquote>
			<h2>Yol, yemek, sigorta varsa;</h2>
			<p>"Arı gibi çalışırım hacı ama at gibi uyurum bak onu da açık söyliyim.."</p>
			<br>
			<p class="pull-right"><small>İsmail Abi</small></p>
			<br>
			<br>
			<br>
			</blockquote>
		</div>
		{% if not user.is_authenticated %}
		<div class="span6 well">
			<h2>Söyleyeceklerim var üye olayım:</h2>
			{% block signup %}
			<form action="/signup/" method="post">{% csrf_token %}
				{% for field in user_form %}
				<div class="row span6" style="margin-left:0px;">
					<div class="control-group">
						{{ field }}
					</div>
				</div>
				{% endfor %}
				<div class="control-group">
					<button type="submit" class="btn btn-success">Tamamdır!</button>
				</div>
			</form>
			{% endblock %}
		</div>
		{% endif %}
	</div>
	<div class="well text-center">
		<h2>Sigorta yapıyonuz mu sigorta?</h2>
		<form class="form-search" action="/search/" method="get">
			<div class="input-prepend">
				<span class="add-on"><i class="icon-search"></i></span>
				<input type="text" class="input-xlarge" name="q" placeholder="Şirket ismi ile arama yap!">
			</div>
			<button type="submit" class="btn btn-success">Ara</button>
		</form>
	</div>
	<div class="well">
		<h3>Son yazılanlar</h3>
		{% for row in latests %}
		<div class="postWrapper">
			<a class="avatar" href="/{{ row.author.username }}" target="_blank" title="{{ row.author.first_name }} {{ row.author.last_name }}">
				{% if not row.gravatar_url %}
				<img class="avatar" src="{{ MEDIA_URL }}/img/avatar.jpg">
				{% else %}
				<img class="avatar" src="{{ row.gravatar_url }}">
				{% endif %}
				
			</a>
			<span class="name"><a href="/{{ row.author.username }}">{{ row.author.first_name }} {{ row.author.last_name }}</a></span>
			<span class="time">{{ row.timestamp }}</span>
			<p><strong><a href="/sirketler/{{ row.company.companyslug }}">{{ row.company.companyname }}</a>, {{ row.category }}: </strong>{{ row.content }}</p>
		</div>
		{% endfor %}
	</div>
{% endblock %}