{% extends "layout.html" %}
{% block title %}
	Şartlarda anlaşabilirsek seve seve çalışırım hacı!
{% endblock %}
{% block content %}
<div class="row-fluid">
	<div class="well">
		<h3>Sektörler</h3>
		<div class="pagination pagination-small pagination-centered">
			<ul>
			{% for letter in letters %}
				<li><a href="/sektorler/?q={{ letter }}">{{ letter }}</a></li>
			{% endfor%}
			</ul>
		</div>
		{% if sectorList %}
			{% for sector in sectorList %}
				<div class="postWrapper">
					<p><a href="/sektorler/{{ sector.sectorslug }}">{{ sector.sectorname }}</a></p>
				</div>
			{% endfor %}
		{% else %}
			<p>{{ q }} ile sektör bulunmuyor!</p>
		{% endif %}
	</div>
</div>
{% endblock %}