.container{margin-top:20px;}
.postWrapper{border-top:1px solid #e5e5e5; background-color:#fff; padding:10px}
.avatar{float:left; margin:0 5px 0 0px;}
span.name{font-weight:bold;}
span.time{float:right; color:#999; font-size:12px;}
span.username{color:#999; font-size:12px;}
.loginform{margin:0px;}
.loginform .input-prepend{margin:5px 0 0 0px;}
.control-group{float:left; margin:0 4px 0 0px;}
.hero-unit{background:#f5f5f5; border:1px solid #e3e3e3;}
.modal-body label{width:auto !important;}
li span.sector{color:#999; font-size:12px;}
p span.sector{color:#999; font-size:12px;}





