<!DOCTYPE html>
<html> 
<head>
	<title>{% block title %}{% endblock %}</title>
<!--Metatags-->
    <link rel="shortcut icon" href="favicon.png"/>
<!--Metatags-->
{% block cssblock %}
<!--Styles-->
	<link href="{{ MEDIA_URL }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="{{ MEDIA_URL }}/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
	<link href="{{ MEDIA_URL }}/css/style.css" rel="stylesheet" type="text/css">
<!--Styles-->
{% endblock %}
{% block jsblock %}
<!--Scripts-->	
	<script src="{{ MEDIA_URL }}/js/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}/js/bootstrap.min.js" type="text/javascript"></script>
<!--Scripts-->
{% endblock %}
</head>
<body>
	{% block lostpassmodal %}
	<div id="lostpass" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Şifremi unuttum!</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal">
				<div class="control-group">
				<label class="control-label" for="inputEmail">Email</label>
				<div class="controls" style="margin:0 0 0 60px;">
					<input type="text" id="inputEmail">
				</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-success">Gönder</button>
			<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Kapat</button>
		</div>
	</div>
	{% endblock %}
	<div class="container">
		<header>
			<div class="wrapper">
				{% block header %}
				<div class="navbar">
					<div class="navbar-inner">
						<ul class="nav">
							<li><a href="/">Anasayfa</a></li>
							<li><a href="/sirketler/">Şirketler</a></li>
							<li><a href="/sektorler/">Sektörler</a></li>
						</ul>
						{% if user.is_authenticated %}
							<a href="/logout/" class="btn btn-success pull-right">Çıkış Yap</a>
						{% else %}
							{% block loginform %}
							{% endblock %}
						{% endif %}
					</div>
				</div>
				{% endblock %}
			</div>
		</header>
		{% block content%}
		{% endblock %}
		<footer>
			<div class="well well-small text-center">
				{% block footer %}
					<p>Copyright &copy; 2013</p>
				{% endblock %}
			</div>
		</footer>
	</div>
	
</body>
</html>